.navbar{
  min-height: 10%;
  background: red;
}
.container-fluid{
  margin-top: 64px;
}
.jumbotron-fluid{
  background: red;
  min-height: 500px;
  border-radius: 0px !important;
  margin-bottom: 0px;
}
